services:
  jenkins:
    container_name: practicas-jenkins-1
    build: .
    ports:
      - "8080:8080"
    volumes:
      - jenkins_home:/var/jenkins_home
    networks:
      - mynet

networks:
  mynet:
    driver: bridge

volumes:
  jenkins_home:
    name: practicas_jenkins_home
